extends ../_template.pug

block content
  .wrapper
    header.header.admin-header
      .container.header-container
        .admin-header__left
          .admin-header__title
            h2.title_text Панель администрирования
        .admin-header__right
          .admin-header__link-wrap
            a.admin-header__link(href="#") Вернуться на сайт
    .admin-tabs
      nav.nav
        ul.admin-tabs__list#admin-tabs__list
          each tab, index in tabs
            li.admin-tabs__item
              if index === 0
                a(class="admin-tabs__link admin-tabs__link--active" href="") #{ tab.tab }
              else
                a(class="admin-tabs__link" href="") #{ tab.tab }                  
    main.main
      .main-content
        include ../common/tab_one.pug
        include ../common/tab_two.pug
        include ../common/tab_free.pug
        include ../common/_modal.pug