.skills__item_list
  display: flex
  flex-wrap: wrap

  +tablets
    justify-content: center
    align-items: center
    flex-wrap: nowrap
    flex-direction: column

.skills__item
  display: flex
  flex-direction: column
  margin-bottom: 30px
  margin-right: 30px
  background: rgba(255, 255, 255, 0.3)
  padding: 25px
  border-radius: 10px

  +tablets
    width: 100%
    margin-right: 0px
  
  +phones
    padding: 10px


.skills__item_title
  font-family: 'roboto', serif
  font-weight: 500
  font-size: 16px
  color: $text
  padding-bottom: 25px

.skills__item_name
  border-bottom: 3px solid $beg
  margin-bottom: 10px

.item__name_row
  display: flex
  align-items: center
  font-family: 'roboto', serif
  font-weight: 400
  font-size: 16px
  color: $text
  padding-bottom: 10px

.scill-name
  margin-right: 30px
  min-width: 200px

  +tablets
    margin-right: auto
    min-width: 150px

.skills-number
  width: 46px
  text-align: center
  margin-right: 10px
  padding: 10px
  border: transparent
  border-radius: 5px
  font-family: 'roboto', serif
  font-weight: 400
  font-size: 16px
  color: $number

.skill-percent
  margin-right: 30px

  +tablets
    margin-right: 10px
  
  +phones
    display: none

.button-add__name
  margin-right: 30px
  max-width: 200px

  +tablets
    max-width: 150px
    margin-right: 10px

.button-add__num
  width: 46px
  padding: 10px
  text-align: center

  +tablets
    margin-right: 10px

.button-remove, .button-add
  background: $green
  border: transparent
  border-radius: 5px
  color: #fff
  padding: 10px
  cursor: pointer
  transition: all .5s
  font-family: 'roboto', Arial, Helvetica, sans-serif
  font-size: 16px
  white-space: nowrap

  &:hover
    background: $grHov

.button-remove
  padding: 10px 15px

.button-add__input
  width: 200px
  font-family: 'roboto', Arial, Helvetica, sans-serif
  font-size: 16px

.button-skill
  display: flex
  
.buton-add__fild
  display: flex
  margin-right: auto

  +phones
    margin-bottom: 10px